.calendar-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 20px; /* расстояние между месяцами */
}

.header {
  color: darkslategrey;
  text-align: center;
  margin-bottom: 20px; /* Отступ снизу для разделения с календарем */
}

.navigation {
  margin-top: 10px; /* Отступ сверху для разделения с заголовком */
  margin-bottom: 10px;
}

.navigation a {
  text-decoration: none; /* Убирает подчеркивание */
  color: grey; /* Цвет текста */
  padding: 20px; /* Отступы вокруг ссылок */
}

.navigation a:hover {
  color: #028e4a; /* Цвет при наведении */
}

.month {
  border: 2px solid #c0daca;
  border-radius: 5px;
  background-color: #94d1b3;
  padding: 1em;
  color: #3b302b;
  text-align: center;
}

.days-of-week-container {
  display: grid;
  grid-template-columns: repeat(7, 50px); /* 7 колонок для дней недели */
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 50px); /* 7 колонок для дней месяца */
  text-align: center;
}

.calendar-container .day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* граница для каждого дня */
  padding: 5px;
  min-height: 60px;
  max-height: 80px;
  position: relative;
  box-sizing: border-box;
}

.day.bm,
.day.gr, 
.day.bsh,
.day.dk {
  border: 2px solid;
}

.day.bm {
  border-color: blue;
}

.day.bsh {
  border-color: red;
}

.day.dk {
  border-color: orange;
}

.day.gr {
  border-color: green;
}


.calendar-container .day:hover {
  background-color: #028e4a;
  color: #fff;
  cursor: pointer;
}

.event {
  margin-top: 5px; /* Отступ сверху между днем и событием */
  color: darkmagenta; 
  font-size: 1em;
  position: relative;
}

.first_day_of_month_is_1 { grid-column-start: 1; }

.first_day_of_month_is_2 { grid-column-start: 2; }

.first_day_of_month_is_3 { grid-column-start: 3; }

.first_day_of_month_is_4 { grid-column-start: 4; }

.first_day_of_month_is_5 { grid-column-start: 5; }

.first_day_of_month_is_6 { grid-column-start: 6; }

.first_day_of_month_is_7 { grid-column-start: 7; }

.a::after {
  content: "А";
  color: red;
  font-size: 1.2 em;
  position: absolute;
  bottom: 5px;  /* амрита дб в нижнем левом углу */
  left: 5px;
}

.ba::after {
  content: "🌕";
  position: absolute;
  top: 5px; /* луны дб в правом верхнем углу */
  right: 5px;
  font-size: 1.2 em;
}


.tl::after {
  content: "🌑";
  position: absolute;
  top: 5px; /* луны дб в правом верхнем углу */
  right: 5px;
  font-size: 1.2 em;
}

.stars_1::after { content: "★ 1"; }
.stars_2::after { content: "★ 2"; }
.stars_3::after { content: "★ 3"; }
.stars_4::after { content: "★ 4"; }
.stars_5::after { content: "★ 5"; }
.stars_6::after { content: "★ 6"; }
.stars_7::after { content: "★ 7"; }
.stars_8::after { content: "★ 8"; }
.stars_9::after { content: "★ 9"; }
.stars_10::after { content: "★ 10"; }

.stars_1::after,
.stars_2::after,
.stars_3::after,
.stars_4::after,
.stars_5::after,
.stars_6::after,
.stars_7::after,
.stars_8::after,
.stars_9::after,
.stars_10::after {
  top: 5px; /* звезды дб в верхнем левом углу */
  left: 5px;
  font-size: 1em;
  color: #c8a951;
  white-space: nowrap;
  position: absolute;
}

.footer-holiday {
    font-size: small;
    color: grey;
    text-align: center;
}