<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ month_name }} {{ year }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="calendar-wrapper">
      <div class="month">
        <h3>{{ month_name }} {{ year }}</h3>
        <div class="navigation">
          <a
            href="{{ url_for('get_calendar_month', year=prev_year, month=prev_month) }}"
            >Назад</a
          >
          <a
            href="{{ url_for('get_calendar_month', year=next_year, month=next_month) }}"
            >Вперёд</a
          >
        </div>

        <div class="days-of-week-container">
          <div>Пн</div>
          <div>Вт</div>
          <div>Ср</div>
          <div>Чт</div>
          <div>Пт</div>
          <div>Сб</div>
          <div>Вс</div>
        </div>

        <div class="calendar-container">
          <div class="{{first_day_class}}">1</div>
          {% for date in range(2, month_days + 1) %} 
          <div>{{ date }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
