{% from "calendar-day.html" import render_day %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ month_name }} {{ year }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="calendar-wrapper">
      <div class="month">
        <h3>{{ month_name }} {{ year }}</h3>
        <div class="navigation">
          <a
            href="{{ url_for('get_calendar_month', year=prev_year, month=prev_month) }}"
            >Назад</a
          >
          <a
            href="{{ url_for('get_calendar_month', year=next_year, month=next_month) }}"
            >Вперёд</a
          >
        </div>

        <div class="days-of-week-container">
          <div>Пн</div>
          <div>Вт</div>
          <div>Ср</div>
          <div>Чт</div>
          <div>Пт</div>
          <div>Сб</div>
          <div>Вс</div>
        </div>
        
        {% set holiday_list = [] %}
        <div class="calendar-container">
          {% for date in range(1, month_days + 1) %}
            {% set event = events[date - 1] %}
            <div class="day {% if date == 1 %}{{ first_day_class }}{% endif %} {{ event.day_class or '' }}">
              {{ render_day(date, events[date - 1]) }}
            </div>
            {% if event.holiday %}
              {% set _ = holiday_list.append(date ~ ' – ' ~ event.holiday) %}
            {% endif %}
          {% endfor %}
          
        </div>
      {% if holiday_list %}
        <div class="holidays">
          <p><strong>Праздники:</strong> {{ holiday_list | join(', ') }}</p>
        </div>
      {% endif %}
      <div class="footer-holiday">
        <div class="holiday-key-wrapper">
          <div class="holiday-key">
            <div class="holiday-box bm"><span>БМ</span></div>
            <div class="holiday-box dk"><span>ДК</span></div>
            <div class="holiday-box gr"><span>ГР</span></div>
            <div class="holiday-box bsh"><span>БШ</span></div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </body>
</html>





