{% from "calendar-day.html" import render_day %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Календарь {{ year }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="header">
      <h1>{{ year }}</h1>
      <div class="navigation">
        <a href="{{ url_for('get_calendar_year', year=prev_year) }}">Назад</a>
        <a href="{{ url_for('get_calendar_year', year=next_year) }}">Вперёд</a>
      </div>
    </div>

    <div class="calendar-wrapper">
      {% for month in month_data %}
      {% set holiday_list = [] %}
      <div class="month">
        <h3>{{ month.month_name }}</h3>
        <div class="days-of-week-container">
          <div>Пн</div>
          <div>Вт</div>
          <div>Ср</div>
          <div>Чт</div>
          <div>Пт</div>
          <div>Сб</div>
          <div>Вс</div>
        </div>

        <div class="calendar-container">
          {% for date in range(1, month.month_days + 1) %}
            {% set event = month.events[date - 1] %}
            <div class="day {% if date == 1 %}{{ month.first_day_class }} {% endif %}{{ event.day_class or '' }}">
              {{ render_day(date, event) }}

              {% if event.holiday %}
                {% set _ = holiday_list.append(date ~ ' – ' ~ event.holiday) %}
              {% endif %}
              {% if event %}
                <div class="event {{ event.day_class }}"></div>
              {% endif %} 
            </div>
          {% endfor %}
        </div>
        {% if holiday_list %}
          <div class="holidays">
            <p><strong>Праздники:</strong> {{ holiday_list | join(', ') }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      
      <div class="footer-holiday">
        <div class="holiday-key-wrapper">
          <div class="holiday-key">
            <div class="holiday-box bm"><span>День Будды Медицины</span></div>
            <div class="holiday-box dk"><span>День Дакини</span></div>
            <div class="holiday-box gr"><span>День Гуру Ринпоче</span></div>
            <div class="holiday-box bsh"><span>День Будды Шакьямуни</span></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
